<h1>Über Geekparents den Podcast</h1>

<p>Du möchtest also wissen wer hinter diesen Stimmen aus dem Internet steht?</p>
<p>
  <a href="https://www.tim-schiemann.de/" target?"_blank">Tim</a> und <a href="https://sethiele.de/" target="-blank">Sebastian</a> kennen
  sich von ihrem ehemaligen gemeinsamen Arbeitgeber, einem Berliner Hoster.
  Tim Arbeitete dort als Team Leiter eines Teams aus Technikern und Sebastian ist der Teamleiter vom IT-Projektmanagement und IT-Servicemanagement.
  Durch die enge Zusammenarbeit entstand eine Freundschaft. Und als wir dann feststellten, dass wir auch noch beide begeisterte Podcasthörer waren,
  kam schnell die Idee auf mal selbst einen Podcast zu erstellen.
</p>
<p>
  Sebastian hatte noch die Domain übrig und so war die Idee geboren, über die beiden Themen zu sprechen, die unser Leben bestimmen.
  Das Leben als <b>IT-ler</b> und das wir beide <b>Eltern</b> sind.
</p>
<p>
  Tim hat eine Tochter (Baujahr 2013) und Sebastian einen Sohn (Baujahr 2013) die wir versuchen auf die richtige Seite der Macht zu ziehen.
</p>
<p>
  Mittlerweile arbeitet Tim bei einem anderen Unternehmen. Somit wandelt sich der Podcast auch zu einer Art Gesprächsrunde und muss den gemeinsamen Gang zur
  Kaffeemaschine ersetzten.
<p/>

<h2>Die Geekparents im Netz</h2>
<table>
    <tr>
      <td>Sebastian</td>
      <td>
        <ul class="follow unstyled"
        <li><i class="icon-twitter"></i><a href="https://twitter.com/sebat"> Twitter</a></li>
        <li><i class="icon-facebook"></i><a href="https://facebook.com/sebastian.thiele"> Facebook</a></li>
        </ul>
      </td>
    </tr>
</table>

<h1>{{'about' | t}}</h1>

{{ podcast.description }}

<h2>{{'authors' | t }}</h2>

{{ podcast.authors }}

<h2>{{'subscribe' | t}}</h2>

{% if podcast.subscribe_button_data.configuration.enabled %}
  {{podcast.subscribe_button}}
{% else %}
<ul class="feeds">
  <li><a href="{{podcast.feeds.mp3}}" rel="alternate">mp3</a></li>
  <li><a href="{{podcast.feeds.aac}}" rel="alternate">aac/mp4 (iTunes)</a></li>
  <li><a href="{{podcast.feeds.vorbis}}" rel="alternate">vorbis/ogg</a></li>
  <li><a href="{{podcast.feeds.opus}}" rel="alternate">opus</a></li>
</ul>
{% endif %}

<h2>{{'follow_us' | t}}</h2>

{% assign connections = podcast.connections %}

<ul class="follow unstyled">
  {% if connections.twitter != blank %}
  <li><i class="icon-twitter"></i><a href="https://twitter.com/{{connections.twitter}}"> @{{connections.twitter}}</a></li>
  {% endif %}
  {% if connections.appdotnet != blank %}
  <li><i class="icon-adn"></i><a href="https://app.net/{{connections.appdotnet}}"> @{{connections.appdotnet}}</a></li>
  {% endif %}
  {% if connections.facebook != blank %}
    <li><i class="icon-facebook"></i><a href="https://www.facebook.com/{{connections.facebook}}"> facebook.com/{{connections.facebook_name}}</a></li>
  {% endif %}
</ul>
