<div class="section-main">
  <header class="meta">
    <div class="top-image">
      <img alt="{{podcast.title}}" src="{{blog.header_image}}">
    </div>
    <div class="title">
      <h1>
        <a href="/">{{podcast.title}}</a>
      </h1>
      <p>
        {{podcast.subtitle}}
      </p>
      <div class="followbutton">
        <a class="btn btn-default" href="https://open.spotify.com/show/..."><i class="fab fa-spotify"></i>&nbsp;Spotify</a>
      </div>
    </div>
  </header>
  <div class="posts">
    {% include 'navigation.html' %}

    {{page_content}}
  </div>
</div>

{% include 'sidebar.html' %}
